.user-detail {
  padding: 20px;
}

.user-detail-basics {
  padding: 20px;
}

.user-pic {
  height: 240px;
  border: 1px solid #DDD;
}

.section {
  border-top: 1px solid #DDD;
  padding: 15px;
}

.section-title {
  float: left;
}

.section-content {
}
